// current checking sass compiling
body {
  // background-color: #cefc85;
}

.additional-products {
  //
}

.additional-products__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  // @media (min-width: $tablet-breakpoint) {
  //
  // }

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional-products__title {
  // line-height: 24px;
  @include font(24px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    // line-height: 36px;
    font-size: 36px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.additional-products__list {
  // display: flex;
  // flex-wrap: wrap;

  @media (min-width: $desktop-breakpoint) {
    flex-basis: 75%;
  }
}

.additional-products__item {
  // additional-item
  // @media (min-width: $tablet-breakpoint) {
  //
  // }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}
