// current checking sass compiling
body {
  // background-color: #cefc85;
}

.advantages {
  padding-top: 7px;
  padding-bottom: 10px;
}

.advantages__title {
  margin-bottom: 18px;

  line-height: 60px;

  @include font(36px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    font-size: 60px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.advantages__list {
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-breakpoint) {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.advantages__item {
  margin-bottom: 24px;
}

.advantages__icon {
  position: relative;
  // content: "1";
  // line-height: 281px;
  // @include font(281px, 400, $main_grey_color);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    display: block;
    width: 60px;
    height: 60px;

    background-color: $main_green_color;

    @media (min-width: $tablet-breakpoint) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-position: center center;
  }
}

.advantages__icon--leaf::after {
  background-image: url("../img/advantage-leaf@1x.png");

  @media (min-width: $tablet-breakpoint) {
    //
  }
}

.advantages__icon--powder::after {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantages__icon--dining::after {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantages__icon--clock::after {
  background-image: url("../img/advantage-clock@1x.png");
}

.advantages__text {
  padding-top: 2px;
  // padding-bottom: 5px;
  padding-left: 80px;

  line-height: 18px;

  @include font_arial(14px, 400, $text_font_color);

  @media (min-width: $tablet-breakpoint) {
    flex-basis: 350px;
    padding: 100px 20px 10px 20px;

    font-size: 16px;
    line-height: 24px;

    @media (min-width: $desktop-breakpoint) {
      flex-basis: 300px;
    }
  }
}
