// current checking sass compiling
body {
  // background-color: #cefc85;
}

.basic-item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;

  border: 1px solid $border_color;
  border-bottom: none;
  // @include item-border;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: column;
    width: 324px;
    margin-bottom: 139px;
    padding-top: 164px;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-left: 38px;

    background-color: $main_grey_color;
    border: none;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    width: 245px;
    margin-bottom: 142px;

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}

.basic-item__text-wrapper {
  flex-grow: 1;

  @media (min-width: $tablet-breakpoint) {
    // flex-grow: 0;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}


.basic-item__img {
  width: 140px;
  height: 144px;

  @media (min-width: $tablet-breakpoint) {
    position: absolute;
    top: -45px;
    left: 0;

    width: 324px;
    // big
    // height: 208px;
    // small
    height: 172px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 245px;
    // big
    // height: 208px;
    // small
    // height: 172;
  }
}

.basic-item__img--big {
  @media (min-width: $tablet-breakpoint) {
    top: -81px;
    // big

    height: 208px;
  }

  @media (min-width: $desktop-breakpoint) {
    // big
    // height: 208px;
  }
}

.basic-item__title {
  width: 80px;
  margin-bottom: 13px;
  padding-top: 21px;

  line-height: 20px;
  text-transform: uppercase;

  @include font(16px, 400, $title_font_color);


  @media (min-width: $tablet-breakpoint) {
    width: 130px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 0;

    font-size: 20px;
    text-align: center;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.basic-item__list {
  // width: 100%;
}

.description-list {
  line-height: 16px;

  @include font_arial(12px, 400, $text_font_color);


  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 20px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.description-list__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-breakpoint) {
    padding-top: 5px;
    padding-bottom: 6px;

    border-bottom: 1px solid $border_color;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.basic-item__volume {
  //
  @media (min-width: $tablet-breakpoint) {
    //
    //
  }

  @media (min-width: $desktop-breakpoint) {
    //
  }
}

.basic-item__taste {
  @media (min-width: $tablet-breakpoint) {
    //
    //
  }

  @media (min-width: $desktop-breakpoint) {
    //
    //
  }
}

.basic-item__price {
  // @media (min-width: $tablet-breakpoint) {
  //
  // }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}
