// current checking sass compiling
body {
  // background-color: #cefc85;
}

.basic-products {
  // display: block;
}

.basic-products__wrapper {
  width: $mobile-width;
  padding-top: 5px;

  @media (min-width: $tablet-breakpoint) {
    width: $tablet-wrapper;
    margin-bottom: 45px;
    padding-top: 24px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: $desktop-wrapper;
    margin-bottom: 53px;
    // padding-right: 40px;
    // padding-left: 40px;
    padding-top: 9px;
  }
}


.basic-products__title {
  margin-bottom: 18px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  line-height: 60px;

  @include font(36px, 400, $title_font_color);


  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 154px;
    padding-right: 0;
    padding-left: 0;

    font-size: 60px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-right: 0;
    padding-left: 0;
  }
}

.basic-products__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-breakpoint) {
    justify-content: space-between;
  }

  // @media (min-width: $desktop-breakpoint) {
  //   justify-content: space-between;
  // }
}

.basic-products__item {
  //
  @media (min-width: $tablet-breakpoint) {
    //
  }

  @media (min-width: $desktop-breakpoint) {
    //
  }
}
