// current checking sass compiling
body {
  // background-color: #cefc85;
}

.basic-item {
  padding: 25px 0 25px 0;
  // display: block;

  border: 1px solid $card_border_color;
}

.basic-item__img {
  width: 140px;
  height: 144px;
  // display: block;
}

.basic-item__title {
  // display: block;
  line-height: 20px;
  text-transform: uppercase;

  @include font(20px, 400, $title_font_color);
}

.basic-item__list {
  line-height: 16px;

  @include font_arial(12px, 400, $text_font_color);
}

.basic-item__volume {
  // display: block;
}

.basic-item__taste {
  // display: block;
}

.basic-item__price {
  // display: block;
}

.basic-item__button {
  // button
  width: 100%;

  line-height: 20px;
  text-transform: uppercase;

  background-color: $main_green_color;
  border: none;

  @include font (16px, 400, $light_font_color);
}
