// current checking sass compiling
body {
  // background-color: #cefc85;
}

.contacts {
  position: relative;

  padding-top: 79px;
  padding-bottom: 10px;

  background-color: $main_grey_color;
}

.contacts__wrapper {
  position: absolute;
  top: 22px;
  right: 0;
  left: 0;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  // margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: $light_font_color;

  // @media (min-width: $tablet-breakpoint) {
  //
  // }

  @media (min-width: $desktop-breakpoint) {
    position: absolute;
    top: 100px;
    left: calc(50% - 600px);
    z-index: 2;

    width: 500px;

    background-color: $light_font_color;
  }
}

.contacts__title {
  flex-basis: 50%;

  line-height: 20px;
  text-transform: uppercase;

  @include font(16px, 400, $title_font_color);


  @media (min-width: $tablet-breakpoint) {
    flex-basis: 30%;

    font-size: 20px;
    line-height: 25px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.contacts__address {
  flex-basis: 50%;

  line-height: 20px;

  @include font_arial(14px, 400, $text_font_color);


  @media (min-width: $tablet-breakpoint) {
    flex-basis: 30%;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-breakpoint) {
    text-align: left;
  }
}

.contacts__map {
  position: relative;
  z-index: 0;

  height: 400px;

  background-color: $main_grey_color;
  // margin: auto;

  // background-color: $main_grey_color;
}

.contacts__mapframe {
  width: 100%;
}

.contacts__map-img {
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;

  width: 320px;
  height: 400px;
  margin: auto;
  // background-color: $main_grey_color;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $tablet-breakpoint) {
    width: 768px;

    background-image: url("../img/bg-map-tablet@1x.png");
  }

  @media (min-width: $desktop-breakpoint) {
    width: 1140px;

    background-image: url("../img/bg-map-desktop@1x.png");
  }


  &::after {
    content: "";
    position: absolute;
    top: 175px;
    left: calc(50% - 28px);

    width: 55px;
    height: 55px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @media (min-width: $tablet-breakpoint) {
      top: 150px;
      left: calc(50% - 50px);

      width: 113px;
      height: 106px;
    }

    @media (min-width: $desktop-breakpoint) {
      left: calc(50% + 280px);
    }
  }
}
