// current checking sass compiling
body {
  // background-color: #cefc85;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-breakpoint) {
    justify-content: flex-end;
    width: 170px;
    margin-left: auto;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  // @media (min-width: $desktop-breakpoint) {
  //   margin-left: auto;
  // }
}

.copyright__title {
  width: 120px;

  font-style: normal;
  line-height: 16px;

  @include font_arial(16px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    margin-right: 0;
  }


  &:active {
    opacity: 0.6;
  }
}

.copyright__link {
  font: inherit;
  color: inherit;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.copyright__icon {
  fill: $footer_icon_color;
}

.copyright__logo-link {
  width: 27px;
  height: 34px;

  .copyright__icon {
    width: 27px;
    height: 34px;
  }

  &:hover,
  &:focus {
    outline: none;

    .copyright__icon {
      fill: $footer_icon_color_hvr;
    }
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-breakpoint) {
    margin-left: 23px;
  }
}
