// current checking sass compiling
body {
  // background-color: #cefc85;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0 19px 0;

  @media (min-width: $tablet-breakpoint) {
    justify-content: flex-end;
  }
}

.copyright__title {
  font-style: normal;
  line-height: 16px;

  @include font_arial(16px, 400, $title_font_color);

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

// TODO добавить изменение цвета при hover
// TODO SVG с возможностью изменения fill
.copyright__link {
  // display: block;
  // TODO добавить изменение цвета при hover
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.copyright__link--logo {
  width: 32px;
  height: 41px;

  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // background-size: 28px 35px;
}

// .icon-logo {
//   width: 60px;
//   height: 60px;

//   path {
//     fill: $footer_icon_color;
//   }
// }

// <!-- TODO изменить цвет иконки в редакторе -->
// <!-- <img src="../img/htmlacademy.svg" alt="Лого HTML академии" width="27" height="34"> -->
