// current checking sass compiling
body {
  // background-color: #cefc85;
}

.example {
  position: relative;

  background-color: $main_grey_color;

  @media (min-width: $tablet-breakpoint) {
    background-color: transparent;
  }

  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex-wrap: wrap;
  }

  &::after {
    content: "";
    position: absolute;
    top: 620px;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: $main_grey_color;

    // background-color: rgb(95, 130, 153);
  }
}

.example__text-wrapper {
  // flex-basis: 50%;
  margin-bottom: 31px;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 76px;
  }
}

.example__keypoints {
  //
}

.example__title {
  margin-bottom: 23px;
  padding-top: 19px;

  line-height: 60px;

  @include font(36px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 65px;
    padding-top: 43px;

    font-size: 60px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.example__description {
  margin-bottom: 15px;
  padding-right: 2px;

  line-height: 18px;

  @include font_arial(14px, 400, $text_font_color);

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 42px;
    padding-right: 10px;

    font-size: 16px;
    line-height: 24px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.example__slider {
  // margin-bottom: 79px;
}
