// current checking sass compiling
body {
  // background-color: #cefc85;
}

.example {
  // display: block;
  background-color: $main_grey_color;
}

.example__title {
  // display: block;
  line-height: 60px;

  @include font(36px, 400, $title_font_color);
}

.example__description {
  // display: block;
  line-height: 18px;

  @include font_arial(14px, 400, $text_font_color);
}

.example__item {
  // display: block;
}

.example__keypoints {
  // keypoints
  // display: block;
}

.example__slider {
  // slider
  // display: block;
}
