// current checking sass compiling
body {
  // background-color: #cefc85;
}

.footer-logo {
  // margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 95px;
  padding-top: 39px;
  padding-bottom: 31px;

  @media (min-width: $tablet-breakpoint) {
    margin-right: auto;
    padding: 0;
  }

  // @media (min-width: $desktop-breakpoint) {
  //   margin-right: auto;
  // }
}

.footer-logo__image {
  width: 128px;
  height: 24px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
