// current checking sass compiling
body {
  // background-color: #cefc85;
}


.footer-links {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-breakpoint) {
    align-items: center;
    padding: 44px 0 56px 0;
  }
  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.footer-links__item {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;

  border-bottom: 1px solid #cdcdcd;

  &:last-child {
    border: none;
  }

  @media (min-width: $tablet-breakpoint) {
    justify-content: space-between;

    border-bottom: none;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}
