// current checking sass compiling
body {
  // background-color: #cefc85;
}

.footer-links {
  background-color: $main_grey_color;
}

.footer-links__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-breakpoint) {
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 46px;
  }
}

.footer-links__item {
  align-self: stretch;

  border-bottom: 1px solid $border_color;

  @media (min-width: $tablet-breakpoint) {
    align-self: center;

    border-bottom: none;
  }

  &:last-child {
    border-bottom: none;
  }
}
