// current checking sass compiling
body {
  // background-color: #cefc85;
}


.footer-links {
  display: flex;
  flex-wrap: wrap;
  // padding-top: 20px;
  // padding-bottom: 20px;

  background-color: $main_grey_color;
}

.footer-links__item {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;

  border-bottom: 1px solid #cdcdcd;

  &:last-child {
    border: none;
  }

  @media (min-width: $tablet-breakpoint) {
    flex-basis: 33.33333%;
    justify-content: space-between;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}
