// current checking sass compiling
body {
  // background-color: #cefc85;
}

.footer-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 29px 10px 31px 10px;
  // padding-top: 30px;
  // padding-bottom: 30px;

  @media (min-width: $tablet-breakpoint) {
    justify-content: flex-start;
  }
}


.footer-logo__image {
  width: 128px;
  height: 24px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

// width: 128px;
// height: 24px;

// background-image: url("../img/logo-footer.svg");
// background-repeat: no-repeat;
// background-position: center;
// background-size: contain;
