// current checking sass compiling
body {
  // background-color: #92cf30;
}

.header-nav {
  // display: block;
}

.header-nav__toggle {
  display: none;
  width: 24px;
  height: 18px;

  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  // background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  border: none;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-breakpoint) {
    display: none;
  }

  // @media (min-width: $desktop-breakpoint) {

  // }
}

.header-nav__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // TODO ширина контейнера навигации - tablet
    width: 438px;
    // height: 100px;
  }

  @media (min-width: $desktop-breakpoint) {
    // TODO ширина контейнера навигации - desctop
    width: 480px;
  }
}

.header-nav__item {
  // line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border-top: 1px solid $border_color;

  @include font(20px, 500, $title_font_color);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-breakpoint) {
    font-size: 18px;
    // line-height: 24px;

    border: none;
    // TODO проверить на ошибку в дизайне
    // color: $additional_font_color;
  }

  @media (min-width: $desktop-breakpoint) {
    color: $light_font_color;
  }
}

.header-nav__item--active a {
  // width: 169px;
  // height: 2px;
  border-bottom: 2px solid #68b738;

  // @media (min-width: $tablet-breakpoint) {
  //
  // }

  @media (min-width: $desktop-breakpoint) {
    border-bottom: 2px solid $light_font_color;
  }
}
