// current checking sass compiling
body {
  // background-color: #92cf30;
}

.header-nav {
  position: relative;
}

.header-nav--inner-page {
  .header-nav__item {
    @media (min-width: $desktop-breakpoint) {
      color: $title_font_color;
    }
  }

  .header-nav__item--active a {
    @media (min-width: $desktop-breakpoint) {
      border-bottom: 2px solid $main_green_color;
    }
  }
}

.header-nav__toggle {
  position: absolute;
  top: -43px;
  right: 0;
  z-index: 2;

  display: none;
  width: 24px;
  height: 24px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

// Класс добавляется для ЗАкрытого состояния меню
.header-nav--closed {
  .header-nav__toggle {
    display: block;
    width: 24px;
    height: 18px;

    background-image: url("../img/icon-mobile-menu.svg");

    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }

  .header-nav__item {
    display: none;

    @media (min-width: $tablet-breakpoint) {
      display: block;
    }
  }
}

// Класс добавляется для открытого состояния меню
.header-nav--opened {
  .header-nav__toggle {
    display: block;
    width: 24px;
    height: 18px;

    background-image: url("../img/icon-close.svg");

    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }

  .header-nav__item {
    display: block;
  }
}

.header-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  // margin-left: auto;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
    align-items: center;
  }

  // @media (min-width: $desktop-breakpoint) {
  //   //
  // }
}

.header-nav__item {
  position: relative;

  padding-top: 22px;
  padding-bottom: 20px;

  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @include font(20px, 500, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    // display: block;
    margin-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 400;
    font-size: 18px;

    border: none;

    @include font(18px, 400, $title_font_color);
  }

  @media (min-width: $desktop-breakpoint) {
    font-size: 20px;
    color: $light_font_color;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;

    width: 320px;
    height: 1px;

    background-color: $border_color;

    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }
}

// .header-nav__item:last-child {
//   @media (min-width: $tablet-breakpoint) {
//     //
//   }
// }

.header-nav__item a {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header-nav__item--active a {
  padding-bottom: 7px;

  border-bottom: 2px solid #68b738;
  cursor: default;

  &:hover {
    opacity: 1;
  }

  // @media (min-width: $tablet-breakpoint) {
  //
  // }

  @media (min-width: $desktop-breakpoint) {
    border-bottom: 2px solid $light_font_color;
  }
}
