// checking sass
body {
  // TODO убрать фон body
  // background-color: #28d353;
}

.inner-page {
  .header-nav__item {
    @media (min-width: $desktop-breakpoint) {
      color: $title_font_color;
    }
  }

  .contacts {
    background-color: $main_grey_color;
  }

  .header-nav__item--active a {
    @media (min-width: $desktop-breakpoint) {
      border-bottom: 2px solid $main_green_color;
    }
  }
}
