// current checking sass compiling
body {
  // background-color: #cefc85;
}

.keypoints {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-breakpoint) {
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-breakpoint) {
    // justify-content: space-between;
    // justify-content: flex-start;
    width: 366px;
  }
}

.keypoints__item {
  // margin-bottom: 23px;
  // flex-basis: 45%;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 0;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }

  &:last-child {
    margin-bottom: 0;
  }
}

.item-bordered {
  // position: relative;
  display: flex;
  flex-basis: 124px;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-breakpoint) {
    flex-basis: 162px;
    padding-top: 0;

    &:first-child {
      margin-right: 42px;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    //
  }
}

.item-bordered__value {
  // Text: 5 кг
  // line-height: 24px;
  align-self: stretch;
  padding: 10px 10px 14px 10px;

  line-height: 30px;

  border: 1px solid $border_color;
  border-radius: 3px;

  @include font(24px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    padding: 18px 10px 22px 10px;

    font-size: 30px;
  }
}

.item-bordered__option {
  // Text: снижение веса
  width: 80px;
  margin-top: -8px;

  line-height: 12px;
  text-align: center;
  text-transform: lowercase;

  background-color: $main_grey_color;

  @include font_arial(12px, 400, $text_font_color);

  @media (min-width: $tablet-breakpoint) {
    width: 131px;

    font-size: 14px;

    background-color: $light_font_color;
  }

  @media (min-width: $desktop-breakpoint) {
    background-color: $main_grey_color;
  }
}


.item-wide {
  // display: flex;
  flex-grow: 1;
  // justify-content: center;
  // align-self: stretch;
  padding-top: 17px;
  padding-bottom: 10px;

  line-height: 24px;
  // text-align: center;

  @include font(14px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    flex-grow: 0;
    width: 180px;
    margin-top: -5px;
    margin-left: auto;
    padding: 0;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding-top: 51px;
    padding-bottom: 10px;

    text-align: left;
  }
}

.item-wide__value {
  // Text: Затраты на питание: 15 000 руб.
}

.item-wide__option {
  @media (min-width: $tablet-breakpoint) {
    // line-height: 29px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-left: 60px;
  }
}
