// current checking sass compiling
body {
  // background-color: #cefc85;
}

.keypoints {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;

  // @media (min-width: $tablet-breakpoint) {
  //
  // }

  @media (min-width: $desktop-breakpoint) {
    // width: 300px;
  }
}

.keypoints__item {
  margin-bottom: 23px;
  // flex-basis: 45%;

  text-align: center;
  text-transform: uppercase;
}

.keypoints__item:last-child {
  margin-bottom: 0;
}


.item-bordered {
  position: relative;

  flex-basis: 44.2%;
  padding-top: 10px;

  @media (min-width: $tablet-breakpoint) {
    flex-basis: 200px;
  }

  @media (min-width: $desktop-breakpoint) {
    flex-basis: 300px;
  }
}

.item-bordered__value {
  display: block;
  padding: 10px 10px 14px 10px;
  // Text: 5 кг
  // line-height: 24px;

  line-height: 30px;

  border: 1px solid $border_color;
  border-radius: 3px;

  @include font(24px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    font-size: 30px;
  }
}

.item-bordered__option {
  position: absolute;
  top: 57px;
  left: 17px;

  display: block;
  width: 90px;
  padding: 0 12px 0 10px;
  // width: 90px;
  // Text: снижение веса

  line-height: 12px;
  text-transform: lowercase;

  background-color: $main_grey_color;

  @include font_arial(12px, 400, $text_font_color);

  @media (min-width: $tablet-breakpoint) {
    font-size: 14px;
  }
}

.item-wide__value,
.item-wide__option {
  // Text: Затраты на питание: 15 000 руб.
}

.item-wide {
  flex-grow: 1;
  padding-top: 10px;

  line-height: 24px;

  @include font(14px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    font-size: 20px;
  }
}
