// current checking sass compiling
// body {
//   background-color: #cefc85;
// }

.logo-link {
  // display: block;
}

.logo-link__image {
  width: 192px;
  height: 38px;

  @media (min-width: $tablet-breakpoint) {
    width: 173px;
    height: 58px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 202px;
    height: 59px;
  }
}
