// current checking sass compiling
body {
  // background-color: #a4d850;
}

.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding-top: 55px;
    padding-bottom: 55px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -2;

      width: 50vw;
      height: 100%;

      background-color: $main_green_color;
    }
  }
}

.page-header__link {
  // .logo-link
  padding-top: 11px;
  padding-bottom: 16px;

  cursor: default;

  @media (min-width: $tablet-breakpoint) {
    flex-basis: 30%;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-breakpoint) {
    flex-basis: 50%;
  }
  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.page-header__link--inner-page {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo {
  width: 190px;
  height: 38px;

  @media (min-width: $tablet-breakpoint) {
    // width: 184px;
    // height: 61px;
    width: 173px;
    height: 58px;
  }

  @media (min-width: $desktop-breakpoint) {
    // width: 184px;
    // height: 55px;
    width: 202px;
    height: 59px;
  }
}

.page-header__nav {
  @media (min-width: $tablet-breakpoint) {
    flex-basis: 70%;
  }

  @media (min-width: $desktop-breakpoint) {
    flex-basis: 50%;
  }
}
