// current checking sass compiling
body {
  // background-color: #cefc85;
}

.program-item {
  position: relative;

  margin-bottom: 18px;
  padding: 32px 20px 10px 19px;

  background-color: $main_grey_color;
  outline: 1px solid #5e0000;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-breakpoint) {
    margin-bottom: 32px;
    padding: 76px 20px 50px 53px;
  }

  @media (min-width: $desktop-breakpoint) {
    flex-basis: 46.8%;
    margin-bottom: 0;
    padding: 74px 10px 50px 53px;
  }
}

.program-item__title {
  margin-bottom: 20px;
  padding-left: 72px;

  line-height: 36px;
  text-transform: uppercase;

  @include font(24px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    width: 375px;
    // width: 380px;
    margin-bottom: 15px;
    padding-left: 0;

    font-size: 36px;
  }

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: 65px;
    padding-left: 162px;
  }
}

.program-item__description {
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 22px;
  // padding-bottom: 10px;

  line-height: 18px;

  border-bottom: 1px solid $border_color;

  @include font_arial(14px, 400, $text_font_color);

  @media (min-width: $tablet-breakpoint) {
    width: 375px;
    // width: 380px;
    margin-bottom: 25px;
    // padding-bottom: 10px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 470px;
    margin-bottom: 0;
  }
}

.program-item__description--narrow {
  @media (min-width: $tablet-breakpoint) {
    width: 344px;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 470px;
  }
}

.program-item__link {
  display: block;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  // line-height: 16px;

  line-height: 20px;
  text-transform: uppercase;

  @include font(16px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    width: 375px;
    // width: 380px;

    font-size: 20px;
    // line-height: 20px;
  }

  &::after {
    content: "";

    display: inline-block;
    width: 24px;
    height: 12px;
    margin-left: 12px;

    vertical-align: 1px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: $tablet-breakpoint) {
      margin-left: 24px;

      vertical-align: 4px;
    }

    // @media (min-width: $desktop-breakpoint) {
    //
    // }
  }

  // TODO убрать hover и focus
  &:hover,
  &:focus {
    &::after {
      content: "";

      display: inline-block;
      // width: 25px;
      // width: 24px;
      width: 33px;
      height: 12px;

      vertical-align: 1px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-width: $tablet-breakpoint) {
        vertical-align: 4px;
      }
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.program-item__icon {
  &::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: $main_green_color;
    border-radius: 50%;

    @media (min-width: $tablet-breakpoint) {
      top: 90px;
      left: 448px;

      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-breakpoint) {
      top: 44px;
      left: 53px;

      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: center center;
  }
}

.program-item__icon--slim::after {
  // cat-slim
  top: 25px;
  left: 30px;

  width: 35px;
  height: 49px;

  background-image: url("../img/icon-cat-slim.svg");

  @media (min-width: $tablet-breakpoint) {
    top: 79px;
    left: 476px;

    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-breakpoint) {
    top: 38px;
    left: 66px;

    width: 70px;
    height: 97px;
  }
}

.program-item__icon--pro::after {
  // cat-pro
  top: 37px;
  left: 13px;

  width: 67px;
  height: 28px;

  background-image: url("../img/icon-cat-pro.svg");

  @media (min-width: $tablet-breakpoint) {
    top: 134px;
    left: 412px;

    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-breakpoint) {
    top: 66px;
    left: 35px;

    width: 134px;
    height: 56px;
  }
}
