// current checking sass compiling
body {
  // background-color: #cefc85;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  // @media (min-width: $tablet-breakpoint) {
  //
  // }
}

.slider__photocards {
  position: relative;

  display: block;
  width: 320px;
  height: 240px;

  @media (min-width: $tablet-breakpoint) {
    width: 690px;
    height: 517px;
  }

  @media (min-width: $desktop-breakpoint) {
    overflow: hidden;
  }
}

.slider__photo {
  display: none;
  width: 320px;
  height: 240px;

  @media (min-width: $tablet-breakpoint) {
    width: 690px;
    height: 517px;
  }

  @media (min-width: $desktop-breakpoint) {
    position: absolute;
    top: 0;
    left: 40px;
  }
}

.slider__toggles {
  position: relative;

  display: none;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 26px 39px 28px 43px;

  @media (min-width: $tablet-breakpoint) {
    padding: 14px 69px 14px 69px;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 35px 0 38px 120px;
  }
}

.slider__toggle {
  // Text: Было / Стало
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;

  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted $border_color;

  @include font(16px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid $border_color;
    cursor: pointer;
  }

  &:active {
    border-bottom: none;
  }
}

.slider__indicator {
  display: none;
  justify-content: flex-start;
  align-items: center;
  width: 84px;
  height: 14px;

  background-color: $light_font_color;
  border: 1px solid $border_color;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-breakpoint) {
    width: 428px;
    height: 6px;

    background-color: $border_color;
    border: none;
    border-radius: 2.5px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.slider__control-handle {
  position: relative;

  display: block;
  width: 35px;
  height: 6px;
  margin-left: 6px;

  background-color: $main_green_color;
  border: none;
  border-radius: 3px;

  @media (min-width: $tablet-breakpoint) {
    width: 35px;
    height: 35px;

    background-color: $light_font_color;
    border: 1px solid $border_color;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $main_green_color;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 8px;
      height: 8px;
      margin: auto auto;

      background-color: $main_green_color;
      border-radius: 50%;
    }
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }

  &:hover {
    cursor: pointer;
  }
}

.slider__photo--before {
  display: block;
}

.slider--before {
  // .slider__photo--before {
  //   display: block;
  // }
  .slider__toggles {
    display: flex;
  }


  .slider__indicator {
    display: flex;
  }
}

.slider--after {
  .slider__toggles {
    display: flex;
  }

  .slider__photo--before {
    display: none;
  }

  .slider__photo--after {
    display: block;
  }

  .slider__indicator {
    display: flex;
    justify-content: flex-end;
  }

  .slider__control-handle {
    margin-right: 6px;
  }
}
