// current checking sass compiling
body {
  // background-color: #cefc85;
}

.slider {
  //
}

.slider__photocards {
  display: block;
  width: 320px;
  height: 240px;
  margin-left: -20px;


  @media (min-width: $tablet-breakpoint) {
    width: 690px;
    height: 517px;
    margin: auto;

    // background-color: $main_grey_color;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.slider__photo {
  display: none;
  width: 320px;
  height: 240px;

  @media (min-width: $tablet-breakpoint) {
    width: 690px;
    height: 517px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.slider__toggles {
  position: relative;

  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 32px 39px 32px 44px;

  @media (min-width: $tablet-breakpoint) {
    padding: 20px 69px 32px 69px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.slider__toggle {
  // Text: Было / Стало
  padding: 0;

  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted $border_color;

  @include font(16px, 400, $title_font_color);

  @media (min-width: $tablet-breakpoint) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid $border_color;
    cursor: pointer;
  }

  &:active {
    border-bottom: none;
  }
}

.slider__indicator {
  position: relative;

  display: none;
  width: 84px;
  height: 15px;

  background-color: $light_font_color;
  border: 1px solid $border_color;
  border-radius: 6px;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    // left: 6px;
    // left: 41px;

    width: 35px;
    height: 6px;
    margin: 0 auto;

    background-color: $main_green_color;
    border-radius: 3px;
  }
}

.slider__photo--before {
  display: block;
}

.js-slider-before {
  // .slider__photo--before {
  //   display: block;
  // }
  .slider__toggles {
    display: flex;
  }


  .slider__indicator {
    display: block;

    &::after {
      left: 6px;
    }
  }
}

.js-slider-after {
  .slider__toggles {
    display: flex;
  }

  .slider__photo--before {
    display: none;
  }

  .slider__photo--after {
    display: block;
  }

  .slider__indicator {
    display: block;

    &::after {
      left: 41px;
    }
  }
}
