// current checking sass compiling
body {
  // background-color: #cefc85;
}

.social {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-right: 70px;
  padding-bottom: 16px;
  padding-left: 60px;

  @media (min-width: $tablet-breakpoint) {
    width: 250px;
    padding: 0;
    padding-top: 5px;
    padding-right: 62px;
    padding-bottom: 5px;
    padding-left: 44px;
  }
}

.social__item {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  @media (min-width: $tablet-breakpoint) {
    //
  }

  @media (min-width: $desktop-breakpoint) {
    //
  }
}

.social__link {
  display: block;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  // TODO добавить изменение цвета при hover
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
// TODO добавить изменение цвета при hover

.social__link--vk {
  width: 22px;
  height: 12px;

  background-image: url("../img/icon-vk.svg");


  @media (min-width: $tablet-breakpoint) {
    width: 30px;
    height: 16px;
  }
}

.social__link--insta {
  width: 16px;
  height: 16px;

  background-image: url("../img/icon-insta.svg");


  @media (min-width: $tablet-breakpoint) {
    width: 23px;
    height: 23px;
  }
}

.social__link--fb {
  width: 10px;
  height: 19px;

  background-image: url("../img/icon-fb.svg");


  @media (min-width: $tablet-breakpoint) {
    width: 14px;
    height: 28px;
  }
}
