// current checking sass compiling
body {
  // background-color: #cefc85;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 22px 63px 22px 54px;

  @media (min-width: $tablet-breakpoint) {
    justify-content: center;
  }
}

.social__item {
  margin: 0 10px 0 10px;
}

.social__link {
  display: block;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  // TODO добавить изменение цвета при hover
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
// TODO добавить изменение цвета при hover

.social__link--vk {
  width: 22px;
  height: 12px;

  background-image: url("../img/icon-vk.svg");


  @media (min-width: $tablet-breakpoint) {
    width: 30px;
    height: 16px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.social__link--insta {
  width: 16px;
  height: 16px;

  background-image: url("../img/icon-insta.svg");


  @media (min-width: $tablet-breakpoint) {
    width: 23px;
    height: 23px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}

.social__link--fb {
  width: 10px;
  height: 19px;

  background-image: url("../img/icon-fb.svg");


  @media (min-width: $tablet-breakpoint) {
    width: 14px;
    height: 28px;
  }

  // @media (min-width: $desktop-breakpoint) {
  //
  // }
}
