// current checking sass compiling
body {
  // background-color: #cefc85;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-right: 77px;
  padding-bottom: 10px;
  padding-left: 68px;

  @media (min-width: $tablet-breakpoint) {
    width: 250px;
    padding: 0;
    padding-top: 5px;
    padding-right: 66px;
    padding-bottom: 5px;
    padding-left: 49px;
  }
}

.social__item {
  margin: 5px;

  @media (min-width: $tablet-breakpoint) {
    //
  }

  @media (min-width: $desktop-breakpoint) {
    //
  }
}

.social__icon {
  //
}

.social__link {
  display: block;

  &:hover,
  &:focus {
    outline: none;

    .social__icon {
      path {
        fill: $footer_icon_color_hvr;
      }

      circle {
        fill: $footer_icon_color_hvr;
      }
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.social__link--vk {
  // background-image: url("../img/icon-vk.svg");
  .social__icon {
    width: 22px;
    height: 12px;
  }

  @media (min-width: $tablet-breakpoint) {
    .social__icon {
      width: 30px;
      height: 16px;
    }
  }
}

.social__link--insta {
  // background-image: url("../img/icon-insta.svg");

  .social__icon {
    width: 16px;
    height: 16px;
  }

  @media (min-width: $tablet-breakpoint) {
    .social__icon {
      width: 23px;
      height: 23px;
    }
  }
}

.social__link--fb {
  // background-image: url("../img/icon-fb.svg");
  .social__icon {
    width: 10px;
    height: 19px;
  }

  @media (min-width: $tablet-breakpoint) {
    .social__icon {
      width: 14px;
      height: 28px;
    }
  }
}
