// checking sass
// body {
// background-color: #f84a3d;
// }
// The style is based on the article of Andy Bell
//  https://hankchizljaw.com/wrote/a-modern-css-reset/
//  https://medium.com/@stasonmars/%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-%D1%81%D0%B1%D1%80%D0%BE%D1%81-css-f5816963c82b
// I suppose it makes sense

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;

  // line-height: 1.5;
}

ul[class],
ol[class] {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Упрощаем работу с изображениями */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}


/* Наследуем шрифты для inputs и buttons */
input,
button,
textarea,
select {
  font: inherit;
}
