// checking sass
body {
  // background-color: #b190b4;
}

.wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;

  @media (min-width: $tablet-breakpoint) {
    width: $tablet-wrapper;
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }

  @media (min-width: $desktop-breakpoint) {
    width: $desktop-wrapper;
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
  }
}

@mixin font($size, $weight, $color) {
  font: {
    family: "Oswald", "Arial", sans-serif;
    size: $size;
    weight: $weight;
  };
  color: $color;
}

@mixin font_arial($size, $weight, $color) {
  font: {
    family: "Arial", sans-serif;
    size: $size;
    weight: $weight;
  };
  color: $color;
}

@mixin green_line {
  &::after {
    // линия слева
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;

    width: 50%;
    height: 3px;
    margin-top: 4px;

    background-color: transparent;

    @media (min-width: $tablet-breakpoint) {
      margin-top: 5px;

      background-color: $main_green_color;
    }
  }

  &::before {
    // линия справа
    content: "";
    position: absolute;
    left: 50%;
    z-index: -1;

    width: 50%;
    height: 3px;
    margin-top: 4px;

    background-color: $main_green_color;


    @media (min-width: $tablet-breakpoint) {
      margin-top: 5px;
    }
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
