// checking sass
body {
  // background-color: #3df87b;
}

.wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;
  // TODO убрать обводку wrapper

  outline: 2px solid rgb(228, 24, 24);

  @media (min-width: $tablet-breakpoint) {
    width: $tablet-wrapper;
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }

  @media (min-width: $desktop-breakpoint) {
    width: $desktop-wrapper;
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
  }
}

@mixin font($size, $weight, $color) {
  font: {
    family: "Oswald", "Arial", sans-serif;
    size: $size;
    weight: $weight;
  };
  color: $color;
}

@mixin font_arial($size, $weight, $color) {
  font: {
    family: "Arial", sans-serif;
    size: $size;
    weight: $weight;
  };
  color: $color;
}

.wrapper--product-cards {
  @media (max-width: $tablet-breakpoint) {
    padding-right: 0;
    padding-left: 0;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
