// checking sass
body {
  min-width: 320px;

  // background-color: #f8823d;
}

$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
// (min-resolution: $retina-dpi),
// (min-resolution: $retina-dppx)
// 320 mobile
$mobile-wrapper: 280px;
$mobile-width: 320px;
$mobile-padding: 0;
$mobile-width-only: 768;

// 768 tablet
$tablet-breakpoint: 768px;
$tablet-wrapper: 708px;
$tablet-width: 768px;
$tablet-padding: 0;

// 1300 desktop
$desktop-breakpoint: 1300px;
$desktop-wrapper: 1220px;
$desktop-width: 1300px;
$desktop-padding: 0;

// --------------------------
// basic colors
// font
$light_font_color: #ffffff;
$title_font_color: #111111;
$text_font_color: #444444;
// background
$main_green_color: #68b738;
$main_grey_color: #f2f2f2;
$green_button_color_hvr: #5eaa2f;
$grey_button_color_hvr: #ebebeb;
// $slim-cat_background_color: #eaeaea;

// border
$border_color: #cdcdcd;
// все цвета получаем из border_color + opacity=0.5
$input_active: #444444;
$input_error: #ff8282;

// checkbox
$check_radio_hvr: #bababa;

// icon colors
// $arrow_color: #3e4242;
// header
$menu_icon_color: #222222;
// footer
$footer_icon_color: #666666;
$footer_icon_color_hvr: #68b738;


// @media (min-width: $tablet-breakpoint) {
//
// }

// @media (min-width: $desktop-breakpoint) {
//
// }
